/* 用户信息 START */
.main-wrapper .user-box {
    width: 976px;
    margin: 20px auto 0;
}

    .main-wrapper .user-box .user-register-box {
        width: 484px;
        text-align: left;
    }
    .main-wrapper .user-box .title {
        color: #323232;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 16px;
    }

        .main-wrapper .user-box .title .icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            vertical-align: sub;
            margin-top: -10px \9;
        }

        .main-wrapper .user-box .title .register-icon {
            background: url("../image/user-info/registered_24.png") no-repeat center;
        }

        .main-wrapper .user-box .title .company-icon {
            background: url("../image/user-info/company_24.png") no-repeat center;
        }

        .main-wrapper .user-box .title .account-icon {
            background: url("../image/user-info/account_24.png") no-repeat center;
        }


    .main-wrapper .user-box .content {
        background: #fff;
        height: 234px;
        font-size: 13px;
        padding: 20px 30px;
        border-radius: 2px;
        box-shadow: 0px 1px 4px 0px rgba(232,232,232,1),0px 0px 0px 1px rgba(0,0,0,0.01);
    }

        .main-wrapper .user-box .content .items {
            line-height: 28px;
            margin-bottom:4px;
        }

            .main-wrapper .user-box .content .items b {
                display:inline-block;
                vertical-align:middle;
                width: 74px;
                height: 20px;
                font-size: 13px;
                font-weight: 400;
                color: #8C8C8C;
                line-height: 20px;
            }
    .main-wrapper .user-box .user-company-box .items b {
        width: 90px;
    }
            .main-wrapper .user-box .content .items em {
                margin-right: 10px;
            }

            .main-wrapper .user-box .content .items span {
                vertical-align: middle;
            }

            .main-wrapper .user-box .content .items .upgrade-btn {
                width: 88px;
                height: 26px;
                color: #fff;
                font-size: 14px;
                padding: 0;
                line-height: 1.7;
                margin: 0 0 0 -4px;
            }

            .main-wrapper .user-box .content .items .modify-link {
                margin-right: 10px;
            }

        .main-wrapper .user-box .content .modify-btn {
            margin-top: 10px;
        }

    .main-wrapper .user-box .user-company-box {
        width: 484px;
        text-align: left;
    }

    .main-wrapper .user-box .content .items .phone-verify input[type="checkbox"] {
        vertical-align: middle;
    }
.role {
    color: #595959
}
    .role .index_iconfont {
        color: #ABABAB;
        margin-right:0;
    }
    .changeIcon {
        color: #8c8c8c;
        font-size: 10px;
        text-align: center;
    }
.main-wrapper .user-box .content .items .help-icon {
    width: 14px;
    height: 14px;
    margin-left: 0;
    margin-right: 0;
    background: url("../image/user-info/doubt_14.png") no-repeat center;
}

        .main-wrapper .user-box .content .items .help-icon:hover {
            background: url("../image/user-info/doubt1_14.png") no-repeat center;
        }

.template-box {
    margin-top: 13px;
}

    .template-box .selectpick-div-box .selectpick-div-template-box.clicked {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .template-box .selectpick-div-box {
        background-color: #f7f8f9;
    }

.main-wrapper .user-box .user-account-box {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
.user-company-box .wjx_alink{
    margin-right:6px;
}
.user-company-box .sm_text{
    line-height:18px;
    margin-top:4px;
}
.main-wrapper .user-box .user-account-box .content {
    border: none;
    padding: 0;
    height: auto;
}

    .main-wrapper .user-box .user-account-box .content dl {
        width: 238px;
        height: 320px;
        margin-right: 8px;
        margin-bottom: 8px;
        text-align: center;
        border-radius: 2px;
        background: #fff;
        box-shadow: 0px 1px 4px 0px rgba(232,232,232,1),0px 0px 0px 1px rgba(0,0,0,0.01);
    }
    .main-wrapper .user-box .user-account-box .content dl:nth-of-type(4n){
        margin-right:0;
    }

    .main-wrapper .user-box .user-account-box .content dl:first-child {
        margin-left: 0;
    }

    .main-wrapper .user-box .user-account-box dt {
        position: relative;
        width: 100%;
        height: 200px;
    }

       
.phone-verify {
    font-size: 12px !important;
    padding: 0px 10px;
    line-height: 24px !important;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
    margin-left: 74px;
}
        .main-wrapper .user-box .user-account-box dt .help-icon {
            width: 18px;
            height: 18px;
            margin-left: 6px;
            margin-right: 0;
            vertical-align: top;
            background: url("../image/user-info/doubt_18.png") no-repeat center;
        }

            .main-wrapper .user-box .user-account-box dt .help-icon:hover {
                background: url("../image/user-info/doubt1_18.png") no-repeat center;
            }

        .main-wrapper .user-box .user-account-box dt h4 {
            line-height: 24px;
            font-size: 17px;
            padding: 32px 0 36px;
            color:#595959
        }

        .main-wrapper .user-box .user-account-box dt .money {
            font-size: 32px;
            line-height: 38px;
            margin-top: 22px;
            color: #262626;
        }

        .main-wrapper .user-box .user-account-box dt .unit {
            font-size: 18px;
            color: #262626;
            margin-left: 10px;
        }

    .main-wrapper .user-box .user-account-box dd {
        display:block;
        padding: 10px 28px 0;
    }

        .main-wrapper .user-box .user-account-box dd .wjxui-btn {
            height: 40px;
            line-height:40px;
            display: block;
            margin: 0 auto 16px;
        }

            .main-wrapper .user-box .user-account-box dd .btn:first-child {
                font-size: 16px;
                margin-bottom: 10px;
            }

                .main-wrapper .user-box .user-account-box dd .btn:first-child:hover {
                    background-color: #f08200;
                }

                .main-wrapper .user-box .user-account-box dd .btn:first-child + .btn {
                    font-size: 14px;
                    color: #808080;
                    border-color: #b2b2b2;
                    background-color: #fff;
                }

                    .main-wrapper .user-box .user-account-box dd .btn:first-child + .btn:hover {
                        color: #fa911e;
                        border-color: #fa911e;
                    }

@media (min-width: 1920px) {
    .main-wrapper .user-box {
        margin: 40px auto 0;
    }
    .main-wrapper .user-box .user-account-box {
        margin-top: 40px;
    }
}
/* 用户信息 END */
