<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elvis.vote.dao.Admin.UserDao">

    <select id="searchColleages" resultType="com.elvis.vote.pojo.colleage">
        select colleage_id,colleage_name
        from colleage
    </select>

    <select id="searchMajors" resultType="com.elvis.vote.pojo.major">
        select major_id,major_name
        from colleage
        LEFT JOIN major
        on colleage.colleage_id = major.colleage_id
        where colleage_name=#{colleageName}



    </select>

</mapper>