<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elvis.vote.dao.Admin.UserDao">

    <select id="searchColleages" resultType="com.elvis.vote.pojo.colleage">
        select colleage_id,colleage_name
        from colleage
    </select>


</mapper>